<!DOCTYPE html>
<html>
    <head>
        <title>FPL Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/scripts/allPlayersService.js"></script>
    </head>
    <body>
        <h1>Fantasy Premier League Bot</h1>
        <div class="buttons">
            <button id="allPlayersButton" class="btn btn-info">All Players</button>
            <button id="recommendTeamButton" class="btn btn-info">Recommend Team</button>
        </div>
        <div id="spinner" style="display: none"></div>

        <table id="resultsTable" class="table table-striped" style="display: none">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </boby>
</html>